/* Import Css File To Style Document  */
@import "./grid-system.css";
@import "./fonts.css";
@import "./helper.css";
@import "./component.css";
/* ======= Basic Style Code ======= */
body{
  overflow-x: hidden;
}
/* ======= Header Style Code ======= */
.header {
  width: 100%;
  height: 12rem;
  background-image: linear-gradient(-90deg, #53269d, #6d31d0);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 50;
  top: 0;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  transition: all 0.2s ease-in-out;
}
.menu__logo {
  display: none;
}
.menu__list-item {
  color: #fff;
}
.header__wrapper {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.nav__link-items {
  color: #6d31d0;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.2rem;
  background: #ffdb80;
  padding: 0.9rem 2.4rem;
  border-radius: 3rem;
  cursor: pointer;
}
.nav__toggle {
  display: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.nav__toggle-line {
  position: relative;
  width: 4rem;
  height: 0.2rem;
  background: #fff;
  border-radius: 50rem;
  transition: all 0.2s ease-in;
}
.nav__toggle-line::after,
.nav__toggle-line::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.2rem;
  background: #fff;
  border-radius: 50rem;
  transition: all 0.3s ease-in;
}
.nav__toggle-line::after {
  top: 1.2rem;
}
.nav__toggle-line::before {
  top: -1.2rem;
}
.nav__toggle--open .nav__toggle-line {
  background: transparent;
}
.nav__toggle--open .nav__toggle-line::after {
  transform: translatey(-1.2rem) rotate(-45deg);
}
.nav__toggle--open .nav__toggle-line::before {
  transform: translatey(1.2rem) rotate(45deg);
}
/* ======= Home Section Style Code ======= */
.home {
  min-height: calc(100vh - 12rem);
  background: linear-gradient(90deg, rgba(0, 0, 0, 30%), rgba(0, 0, 0, 30%)),
    url(../assets/image/picture_home1.jpg) no-repeat;
  background-size: cover;
  padding: 6rem 0;
}
.home__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  max-width: 80rem;
}
.home__offers {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.home__offer {
  position: relative;
  color: #ffdb80;
  text-shadow: 0px 0px 80px #023f76;
  flex-shrink: 0;
  padding: 0 0.5rem;
  background: rgba(109, 49, 208, 0.5);
  border-radius: 1rem;
  word-wrap: nowrap;
}
.home__offer:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1.1rem;
  width: 0.3rem;
  height: 1rem;
  background: #fff;
  margin: auto;
}
.home__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.4rem;
  color: #fff;
}
.home__title {
  font-size: 3.6rem;
  line-height: 4rem;
  text-shadow: 0px 0px 80px #023f76;
}
.home__sub-title {
  font-size: 2rem;
  text-shadow: 0px 0px 80px #023f76;
}
.home__description {
  text-shadow: 0px 0px 80px #023f76, 0px 4px 40px rgba(0, 0, 0, 0.25);
  line-height: 2.5rem;
}
.cities {
  margin-top: 5rem;
}
.cities__title {
  color: #fff;
  font-size: 2rem;
  line-height: 3.2rem;
  margin-bottom: 1rem;
}
.swiper-slide {
  margin-bottom: 4.5rem;
}
.citi__card {
  background: #ffffffb6;
  border: 0.2rem solid #fff;
  padding: 1rem;
  width: 14.4rem;
  border-radius: 1.2rem;
  cursor: pointer;
  transition: all ease-in 0.2s;
}
.citi__card:hover {
  background: #ffffffee;
  transform: scale(1.01);
}
.citi-card__head {
  padding-bottom: 0.7rem;
  border-bottom: solid 0.1rem #02030357;
}
.citi-card-head__img {
  width: 100%;
  display: block;
}
.citi-card__foot {
  margin-top: 0.5rem;
}
.citi-card-foot__title {
  font-size: 2rem;
  line-height: 3.2rem;
  color: #828cde;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.swiper-pagination-bullet {
  width: 1.2rem !important;
  height: 1.2rem !important;
  background: transparent !important;
  border: solid 0.2rem #fff !important;
}
.swiper-pagination-bullet-active {
  width: 2rem !important;
  height: 2rem !important;
  background: #fff !important;
}
/* ======= Services Section Style Code ======= */
.services {
  background: linear-gradient(180deg, #828cde -21.43%, #6d31d0 201.93%);
  padding: 8rem 0;
}
.services__title {
  color: #fff;
  text-align: center;
  position: relative;
  margin-bottom: 6rem;
  font-size: 3.6rem;
  line-height: 4.8rem;
}
.services__title::after {
  content: "";
  position: absolute;
  width: 38rem;
  height: 0.5rem;
  right: 0;
  left: 0;
  bottom: -2rem;
  background: #fdbfa3;
  margin: auto;
  border-radius: 6rem;
}
.services__card {
  background: #fff;
  border-radius: 2rem;
  overflow: hidden;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  box-shadow: 0px 14px 23px 0px rgba(28, 37, 44, 0.08);
}
.services-card__head {
  width: 100%;
}
.services-card-head__img {
  width: 100%;
}
.services-card__body {
  text-align: center;
  padding: 0 2rem;
}
.services-card-body__title {
  margin-bottom: 2rem;
}
.services-card-body__caption {
  max-width: 32rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* ======= Paradise Section Style Code ======= */
.paradise {
  margin: 8rem 0;
  display: flex;
  gap: 4rem;
  min-height: 50rem;
}
.paradise__image {
  width: 32.5%;
}
.paradise__image--rigth {
  background: url(../assets/image/image_villas.jpg) no-repeat center ;
  background-size: cover;
}
.paradise__image--left {
  background: url(../assets/image/image_villa.jpg) no-repeat center ;
  background-size: cover;
}
.paradise__content {
  position: relative;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.paradise__content::after,
.paradise__content::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8rem;
  background: rgb(255, 255, 255 , 50%);
}
.paradise__content::after{
  right: -10rem;
}
.paradise__content::before {
  left: -10rem;
}
.paradise__title {
  margin-top: 2rem;
  color: #434364;
  margin-bottom: 6.3rem;
}
.paradise__description {
  margin-bottom: 3.9rem;
}
