/* Import Css File To Style Document  */
@import "./grid-sistem.css";
@import "./fonts.css";
@import "./helper.css";
@import "./helper.css";
/* Basic Style  */
.header {
  width: 100%;
  height: 12rem;
  background-image: linear-gradient(90deg, #53269d, #6d31d0);
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  transition: all 0.2s ease-in-out;
}
.menu__logo {
  display: none;
}
.menu__list-item {
  color: #fff;
}
.header__wrapper {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.nav__link-items {
  color: #6d31d0;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.2rem;
  background: #ffdb80;
  padding: 0.9rem 2.4rem;
  border-radius: 3rem;
  cursor: pointer;
}
.nav__toggle {
  display: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.nav__toggle-line {
  position: relative;
  width: 4rem;
  height: 0.2rem;
  background: #fff;
  border-radius: 50rem;
  transition: all 0.2s ease-in;
}
.nav__toggle-line::after,
.nav__toggle-line::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.2rem;
  background: #fff;
  border-radius: 50rem;
  transition: all 0.3s ease-in;
}
.nav__toggle-line::after {
  top: 1.2rem;
}
.nav__toggle-line::before {
  top: -1.2rem;
}
.nav__toggle--open .nav__toggle-line {
  background: transparent;
}
.nav__toggle--open .nav__toggle-line::after {
  transform: translatey(-1.2rem) rotate(-45deg);
}
.nav__toggle--open .nav__toggle-line::before {
  transform: translatey(1.2rem) rotate(45deg);
}
