*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
.container-fluid {
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
[class^="col-"] {
  /* flex: 0 0 auto; */
  padding: 1.5rem;
}
.col {
  max-width: 100%;
  flex-grow: 1;
}
.col-1 {
  width: 8.333333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.col-offset-1 {
  margin-right: 8.333333333%;
}
.col-offset-2 {
  margin-right: 16.66666667%;
}
.col-offset-3 {
  margin-right: 25%;
}
.col-offset-4 {
  margin-right: 33.33333333%;
}
.col-offset-5 {
  margin-right: 41.66666667%;
}
.col-offset-6 {
  margin-right: 50%;
}
.col-offset-7 {
  margin-right: 58.33333333%;
}
.col-offset-8 {
  margin-right: 66.66666667%;
}
.col-offset-9 {
  margin-right: 75%;
}
.col-offset-10 {
  margin-right: 83.33333333%;
}
.col-offset-11 {
  margin-right: 91.66666667%;
}
.col-offset-12 {
  margin-right: 100%;
}
/* 

=============
break points
=============

*/

/* 

===
xs
===

*/
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
  .col-xs-1 {
    width: 8.333333333%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-12 {
    width: 100%;
  }
  /* offset */
  .col-xs-offset-1 {
    margin-right: 8.333333333%;
  }
  .col-xs-offset-2 {
    margin-right: 16.66666667%;
  }
  .col-xs-offset-3 {
    margin-right: 25%;
  }
  .col-xs-offset-4 {
    margin-right: 33.33333333%;
  }
  .col-xs-offset-5 {
    margin-right: 41.66666667%;
  }
  .col-xs-offset-6 {
    margin-right: 50%;
  }
  .col-xs-offset-7 {
    margin-right: 58.33333333%;
  }
  .col-xs-offset-8 {
    margin-right: 66.66666667%;
  }
  .col-xs-offset-9 {
    margin-right: 75%;
  }
  .col-xs-offset-10 {
    margin-right: 83.33333333%;
  }
  .col-xs-offset-11 {
    margin-right: 91.66666667%;
  }
  .col-xs-offset-12 {
    margin-right: 100%;
  }
}
/* 

===
sm
===

*/
@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
  .col-sm-1 {
    width: 8.333333333%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  /* offset */
  .col-sm-offset-1 {
    margin-right: 8.333333333%;
  }
  .col-sm-offset-2 {
    margin-right: 16.66666667%;
  }
  .col-sm-offset-3 {
    margin-right: 25%;
  }
  .col-sm-offset-4 {
    margin-right: 33.33333333%;
  }
  .col-x-moffset-5 {
    margin-right: 41.66666667%;
  }
  .col-sm-offset-6 {
    margin-right: 50%;
  }
  .col-sm-offset-7 {
    margin-right: 58.33333333%;
  }
  .col-sm-offset-8 {
    margin-right: 66.66666667%;
  }
  .col-sm-offset-9 {
    margin-right: 75%;
  }
  .col-sm-offset-10 {
    margin-right: 83.33333333%;
  }
  .col-sm-offset-11 {
    margin-right: 91.66666667%;
  }
  .col-sm-offset-12 {
    margin-right: 100%;
  }
}
/* 

===
md
===

*/
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
  .col-md-1 {
    width: 8.333333333%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  /* offset */
  .col-md-offset-1 {
    margin-right: 8.333333333%;
  }
  .col-md-offset-2 {
    margin-right: 16.66666667%;
  }
  .col-md-offset-3 {
    margin-right: 25%;
  }
  .col-md-offset-4 {
    margin-right: 33.33333333%;
  }
  .col-md-offset-5 {
    margin-right: 41.66666667%;
  }
  .col-md-offset-6 {
    margin-right: 50%;
  }
  .col-md-offset-7 {
    margin-right: 58.33333333%;
  }
  .col-md-offset-8 {
    margin-right: 66.66666667%;
  }
  .col-md-offset-9 {
    margin-right: 75%;
  }
  .col-md-offset-10 {
    margin-right: 83.33333333%;
  }
  .col-md-offset-11 {
    margin-right: 91.66666667%;
  }
  .col-md-offset-12 {
    margin-right: 100%;
  }
}
/* 

===
lg
===

*/
@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
  .col-lg-1 {
    width: 8.333333333%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  /* offset */
  .col-lg-offset-1 {
    margin-right: 8.333333333%;
  }
  .col-lg-offset-2 {
    margin-right: 16.66666667%;
  }
  .col-lg-offset-3 {
    margin-right: 25%;
  }
  .col-lg-offset-4 {
    margin-right: 33.33333333%;
  }
  .col-lg-offset-5 {
    margin-right: 41.66666667%;
  }
  .col-lg-offset-6 {
    margin-right: 50%;
  }
  .col-lg-offset-7 {
    margin-right: 58.33333333%;
  }
  .col-lg-offset-8 {
    margin-right: 66.66666667%;
  }
  .col-lg-offset-9 {
    margin-right: 75%;
  }
  .col-lg-offset-10 {
    margin-right: 83.33333333%;
  }
  .col-lg-offset-11 {
    margin-right: 91.66666667%;
  }
  .col-lg-offset-12 {
    margin-right: 100%;
  }
}
/* 

===
xl
===

*/
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .col-xl-1 {
    width: 8.333333333%;
  }
  .col-xl-2 {
    width: 16.66666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33333333%;
  }
  .col-xl-5 {
    width: 41.66666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33333333%;
  }
  .col-xl-8 {
    width: 66.66666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33333333%;
  }
  .col-xl-11 {
    width: 91.66666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
  /* offset */
  .col-xl-offset-1 {
    margin-right: 8.333333333%;
  }
  .col-xl-offset-2 {
    margin-right: 16.66666667%;
  }
  .col-xl-offset-3 {
    margin-right: 25%;
  }
  .col-xl-offset-4 {
    margin-right: 33.33333333%;
  }
  .col-xl-offset-5 {
    margin-right: 41.66666667%;
  }
  .col-xl-offset-6 {
    margin-right: 50%;
  }
  .col-xl-offset-7 {
    margin-right: 58.33333333%;
  }
  .col-xl-offset-8 {
    margin-right: 66.66666667%;
  }
  .col-xl-offset-9 {
    margin-right: 75%;
  }
  .col-xl-offset-10 {
    margin-right: 83.33333333%;
  }
  .col-xl-offset-11 {
    margin-right: 91.66666667%;
  }
  .col-xl-offset-12 {
    margin-right: 100%;
  }
}
/* 

===
xxl
===

*/
@media screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
  .col-xxl-1 {
    width: 8.333333333%;
  }
  .col-xxl-2 {
    width: 16.66666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.33333333%;
  }
  .col-xxl-5 {
    width: 41.66666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.33333333%;
  }
  .col-xxl-8 {
    width: 66.66666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.33333333%;
  }
  .col-xxl-11 {
    width: 91.66666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
  /* offset */
  .col-xxl-offset-1 {
    margin-right: 8.333333333%;
  }
  .col-xxl-offset-2 {
    margin-right: 16.66666667%;
  }
  .col-xxl-offset-3 {
    margin-right: 25%;
  }
  .col-xxl-offset-4 {
    margin-right: 33.33333333%;
  }
  .col-xxl-offset-5 {
    margin-right: 41.66666667%;
  }
  .col-xxl-offset-6 {
    margin-right: 50%;
  }
  .col-xxl-offset-7 {
    margin-right: 58.33333333%;
  }
  .col-xxl-offset-8 {
    margin-right: 66.66666667%;
  }
  .col-xxl-offset-9 {
    margin-right: 75%;
  }
  .col-xxl-offset-10 {
    margin-right: 83.33333333%;
  }
  .col-xxl-offset-11 {
    margin-right: 91.66666667%;
  }
  .col-xxl-offset-12 {
    margin-right: 100%;
  }
}
