@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .services-card-body__caption {
    height: 10rem;
  }
}
@media screen and (max-width: 992px) {
  /* Menu Css Code */
  .menu {
    z-index: 50;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    width: 30rem;
    background: linear-gradient(-120deg, rgb(83, 38, 157), rgb(109, 49, 208));
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;
    align-items: center;
    padding: 2rem 3rem;
    top: 0;
    bottom: 0;
    right: -30rem;
    box-shadow: 0 0 10rem rgba(109, 21, 209, 0.2);
  }
  .menu__logo {
    display: block;
  }
  .menu__list-item {
    width: 100%;
  }
  .menu--open {
    opacity: 1;
    right: 0;
    margin: auto;
    position: fixed;
  }
  .nav__toggle {
    display: flex;
  }
  /* ======= Paradise Section Style Code ======= */
  .paradise {
    margin-top: 0;
    flex-direction: column-reverse;
  }
  .paradise__image {
    width: auto;
    height: 40rem;
  }
  .paradise__content {
    width: auto;
    position: auto;
    padding: 0 10rem;
  }
  .paradise__content::after,
  .paradise__content::before {
    width: 0;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
  /* Menu Css Code */
  .nav__link {
    display: none;
  }
  /* Home Css Code */
  .home__offers {
    justify-content: center;
  }
  .home__text-wrapper {
    align-items: center;
  }
  /* ======= Paradise Section Style Code ======= */
  .paradise__content {
    padding: 0;
  }
}
