@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
  /* Menu Css Code */
  .menu {
    flex-direction: column;
    opacity: 0;
    position: absolute;
    width: 30rem;
    background: red;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: -30rem;
  }
  .menu__list-item {
    width: 100%;
  }
  .menu--open {
    opacity: 1;
    left: 0;
    margin: auto;
  }
  .nav__toggle {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}
